@page "/characters/item/{ID:int}"
@rendermode InteractiveServer
@using Holonet.Databank.Core
<PageTitle>Character View</PageTitle>

<h1><i class="bi bi-database"></i> @(@Model.GivenName) @(@Model.FamilyName)</h1>
<hr />
<div class="container">
	<nav class="navbar navbar-light bg-dark mb-3">
		<div class="container-fluid justify-content-start">
			<a href="characters/update/@(ID)" class="btn btn-primary btn-sm me-2">Update</a>
			<a href="characters/index" class="btn btn-secondary btn-sm">Index</a>
		</div>
	</nav>
	<div class="row">
		<div class="col-8">
			<div class="card">
				<div class="card-header">
					<div class="d-flex">
						<div class="flex-grow-1">Holonet Data Records</div>
						<div>
							<AuthorizeView Roles="@ApplicationRole.Administrator">
								<Authorized>
									<button type="button" class="btn btn-sm btn-secondary" title="Click to create a new data record." @onclick="()=> { AddRecordModal.Open();}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
											<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
											<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
										</svg>
									</button>
								</Authorized>
							</AuthorizeView>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-12">
							<a href="@Model.Shard" target="_blank" class="text-decoration-none">
								<i class="bi bi-link"></i>
								@Model.Shard
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							@foreach (var dataRecord in Model.DataRecords)
							{
								string panelId = $"panels{dataRecord.Id}";
								<div class="card mb-3">
									<div class="card-body">
										<h6 class="card-subtitle mb-2 text-muted d-flex">
											<span class="flex-grow-1">Added: @dataRecord.UpdatedOn.ToString() by @(dataRecord.UpdatedBy?.DisplayName ?? "Unknown Source")</span>
											<span>
												<AuthorizeView Roles="@ApplicationRole.Administrator">
													<Authorized>
														<button type="button" class="btn btn-sm btn-danger" title="Click to delete this data record." @onclick="()=> { DeleteID = dataRecord.Id; DeleteModal.Open(); }">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
																<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
																<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
															</svg>
														</button>
													</Authorized>
												</AuthorizeView>
											</span>
										</h6>
										@GetFormattedDescription(dataRecord.Data)
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card mb-3">
				<div class="card-header">Meta Information</div>
				<div class="card-body">
					<div class="row">
						<div class="col">
							<ol class="list-group list-group">
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold">Born</div>
										@if (Model.BirthDate != null)
										{
											<span class="badge bg-light text-dark">@Model.BirthDate</span>
										}
										else
										{
											<span class="badge bg-light text-dark">Unknown</span>
										}
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold">Species</div>
										@foreach (var species in Model.Species)
										{
											<span class="badge bg-light text-dark me-1">@species.Name</span>
										}
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold">Homeworld</div>
										@if (Model.Planet != null)
										{
											<span class="badge bg-light text-dark">@Model.Planet.Name</span>
										}
										else
										{
											<span class="badge bg-light text-dark">Unknown</span>
										}
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold">Aliases</div>
										@foreach (var alias in Model.Aliases)
										{
											<span class="badge bg-light text-dark me-1">@alias.Name</span>
										}
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold"><i class="bi bi-file-earmark-person"></i> Edited By:</div>
										<div>@Model.UpdatedBy?.DisplayName</div>
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold"><i class="bi bi-calendar"></i> Updated On:</div>
										<div>@Model.UpdatedOn.ToString()</div>
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<AppModal @ref="AddRecordModal">
	<Title>Add New Data Record</Title>
	<Body>
		<EditForm FormName="AddDataRecord" OnValidSubmit="HandleAddNew" EditContext="@EditContext" id="editForm">
			<DataAnnotationsValidator /> 
			<ValidationSummary /> 
			<div class="form-group"> 
				<label for="recordData">Data Record</label>
				<InputTextArea id="recordData" class="form-control" @bind-Value="RecordModel.Data" /> 
			</div> 
		</EditForm>
	</Body>
	<Footer>
		<button type="submit" class="btn btn-primary" style="width:80px" form="editForm">Save</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => AddRecordModal.Close()">Cancel</button>
	</Footer>
</AppModal>

<AppModal @ref="DeleteModal">
	<Title>Confirmation</Title>
	<Body>
		Do you sure want to delete this record?
	</Body>
	<Footer>
		<button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Yes</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => DeleteModal.Close()">Cancel</button>
	</Footer>
</AppModal>