@page "/historicalevents/item/{ID:int}"
@rendermode InteractiveServer
@using Holonet.Databank.Core
<PageTitle>Historical Event View</PageTitle>
<CommonIcons />
<SetHeader>
	<h1><i class="bi bi-database"></i> @(@Model.Name)</h1>
	<hr />
</SetHeader>

<div class="container-fluid">
	<nav class="navbar navbar-light bg-dark mb-3">
		<div class="container-fluid justify-content-start">
			<a href="historicalevents/update/@(ID)?referrer=historicalevents/item/@(ID)" class="btn btn-primary btn-sm me-2">Update</a>
			<a href="historicalevents/index" class="btn btn-secondary btn-sm">Index</a>
		</div>
	</nav>
	<div class="row">
		<div class="col-8">
			<div class="alert alert-secondary" role="alert">
				<div class="d-flex align-items-center">
					<h4 class="flex-grow-1 mb-0">HoloNet Data Records</h4>
					<div>
						<AuthorizeView Roles="@ApplicationRole.Administrator">
							<Authorized>
								<button type="button" class="btn btn-sm btn-success" title="Click to create a new data record." @onclick="()=> { AddRecordModal.Open(); AddRecordModal.SetSize(AppModal.ModalSizeOptions.ExtraLarge); }">
									<svg class="icon"><use xlink:href="#icon-plus-circle"></use></svg>
								</button>
							</Authorized>
						</AuthorizeView>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					@foreach (var dataRecord in Model.DataRecords)
					{
						string panelId = $"panels{dataRecord.Id}";
						<div class="card mb-3">
							<div class="card-body">
								<h6 class="card-subtitle mb-2 text-muted d-flex">
									<span class="flex-grow-1">Added: @dataRecord.UpdatedOn.ToString() by @(dataRecord.UpdatedBy?.DisplayName ?? "Unknown Source")</span>
									<span>
										<AuthorizeView Roles="@ApplicationRole.Administrator">
											<Authorized>
												<button type="button" class="btn btn-sm btn-danger" title="Click to delete this data record." @onclick="()=> { DeleteID = dataRecord.Id; DeleteModal.Open(); }">
													<svg class="icon"><use xlink:href="#icon-trash"></use></svg>
												</button>
											</Authorized>
										</AuthorizeView>
									</span>
								</h6>
								@if (!string.IsNullOrEmpty(dataRecord.Shard))
								{
									<div class="row mb-2">
										<div class="col-12">
											<a href="@dataRecord.Shard" target="_blank" class="card-link">
												<i class="bi bi-link"></i>
												@dataRecord.Shard
											</a>
										</div>
									</div>
								}
								<div class="row mt-2">
									<div class="col-12">
										@GetFormattedDescription(dataRecord.Data)
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card mb-3">
				<div class="card-header">Meta Information</div>
				<div class="card-body">
					<div class="row">
						<div class="col">
							<ol class="list-group list-group">
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold">Date Period</div>
										@if (Model.DatePeriod != null)
										{
											<span class="badge bg-light text-dark">@Model.DatePeriod</span>
										}
										else
										{
											<span class="badge bg-light text-dark">Unknown</span>
										}
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold">Characters</div>
										@foreach (var character in Model.Characters)
										{
											<span class="badge bg-light text-dark me-1">@character.GivenName @character.FamilyName</span>
										}
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold">Planets</div>
										@foreach (var planet in Model.Planets)
										{
											<span class="badge bg-light text-dark">@planet.Name</span>
										}
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold">Aliases</div>
										@foreach (var alias in Model.Aliases)
										{
											<span class="badge bg-light text-dark me-1">@alias.Name</span>
										}
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold"><i class="bi bi-file-earmark-person"></i> Edited By:</div>
										<div>@Model.UpdatedBy?.DisplayName</div>
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold"><i class="bi bi-calendar"></i> Updated On:</div>
										<div>@Model.UpdatedOn.ToString()</div>
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<AppModal @ref="AddRecordModal">
	<Title>Add New Data Record</Title>
	<Body>
		<EditForm FormName="AddDataRecord" OnValidSubmit="HandleAddNew" EditContext="@EditContext" id="editForm">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<div class="form-group mb-3">
				<label for="Shard" class="form-label">Shard (External Data Link)</label>
				<InputText id="Shard" class="form-control" @bind-Value="RecordModel.Shard" />
				<ValidationMessage For="() => RecordModel.Shard" />
			</div>
			<div class="form-group">
				<label for="recordData">Data Record</label>
				<InputTextArea id="recordData" class="form-control" @bind-Value="RecordModel.Data" />
			</div>
		</EditForm>
	</Body>
	<Footer>
		<button type="submit" class="btn btn-primary" style="width:80px" form="editForm">Save</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => ResetModal()">Cancel</button>
	</Footer>
</AppModal>
<AppModal @ref="DeleteModal">
	<Title>Confirmation</Title>
	<Body>
		Do you sure want to delete this record?
	</Body>
	<Footer>
		<button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Yes</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => DeleteModal.Close()">Cancel</button>
	</Footer>
</AppModal>